body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: Gilroy;
    src: url("../Ulyana\ Portfolio/fonts/Gilroy-Light.ttf");
}

body {background-color: #FFFF; font-family: Gilroy, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; overflow-x: hidden; margin: 0;}

 button{
    background-color: #c58ae6;
}

.navigationbar li:hover, button:hover, button.submit-btn:hover
{
    background-color: #af64db;
}

.mainpageabout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.aboutsection {
    max-width: 400px;
}

.aboutsectionp {
    width: 400px;
    flex-basis: 650px;
}

.aboutsection img {
    object-fit: cover;
    max-width: 400px;
    border-radius: 500px;
}

@media (max-width: 1445px) {
    #secondpic {display: none;}
}

.gallerytitle {
    font-size: 45px;
    text-align: center;
    margin: 120px 0px 0px 0px;
}

.feedbacktitle {
    font-size: 45px;
    text-align: center;
    margin: 170px 0px 0px 0px;
}

.mainpagegallery {
    padding: 15px; 
    margin: 0px 8px 0px 8px; 
    display: inline-block; 
    text-align: center;

}

.spainimages {
    display: inline-block;
    padding: 0px;
}

.franceimages {
    display: inline-block;
    padding: 0px; 
    margin-top: 150px;
}

.swissimages {
    display: inline-block;
    padding: 0px; 
    margin-top: 150px;
}

h4 {
    margin: 0px 0px 0px 0px;
}

.divider {
    display: block;
    text-align: center;
    margin-top: 100px;
}
.line {
    display: inline-block;
  border-top: 1px solid #bbb;
    width: 45%;
    height: 6px;
  
}
.circle {
  display: inline-block;
  border: 1px solid #bbb;
    height: 10px;
    width: 10px;
    border-radius: 10px;
}

.ornate-line {
  height: 2px;
  width: 200px;
  margin: 10px auto;
  background: linear-gradient(to right, transparent, rgb(151, 146, 146), transparent);
  border-radius: 50%;
}

.gallerybutton button {
    font-size: 27px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 0 16px #3031330d, 0 8px 16px #3031331a;
    color: white;
}

.gallerybutton {
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: white
}
a:link {
    text-decoration: none;
    color: white;

}
a:active {
    text-decoration: none;
    color: white
}
a:visited {
    text-decoration: none;
    color: white
}


.form-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 25px;
    background: #f2f2f2;
    border-radius: 12px;
    border: 1px solid #ccc;
}


.form-grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 18px 25px;
    align-items: start;
}


.form-grid label {
    font-size: 20px;
    margin-top: 10px;
}


.form-grid input[type="text"],
.form-grid select,
.form-grid textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-grid textarea {
    width: 100%;
    max-width: 100%;   
    resize: vertical;  
    max-height: 500px;
}


.full-question {
    grid-column: 1 / 3;   
    font-size: 20px;
    margin-top: 20px;
}


.checkbox-group,
.radio-group {
    grid-column: 1 / 3;   
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    margin-bottom: 10px;
}


.checkbox-item,
.radio-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 17px;
}

input[type="checkbox" i], input[type="radio" i] {
    margin: 3px 3px 5px 3px;
}

button.submit-btn {
    margin-top: 25px;
    width: 100%;
    padding: 16px;
    font-size: 18px;
    border: none;
    background: #c58ae6;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    grid-column: 1 / 3;
}


input,textarea::placeholder {
    font-family: Gilroy, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}


select, textarea {
    font-family: Gilroy, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.popup {
  display: none; 
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}


.popup-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
}

#closePopup {
    color: white;
    font-size: 15px;
    border: 0px;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    width: 70px;
}

#footerlinks a {
    color: black;
    font-size: 20px;
}


.footer-wave{
  position: relative;
  width: 100%;
  background: #ffffff; 
  padding-bottom: 0px;
  box-sizing: border-box;
  overflow: visible;
  margin-top: auto;
  padding: 60px 0px 0px
}


.footer-waves{
  position: absolute;
  left: 0;
  width: 100%;
  height: 300px;
  display: block;
  pointer-events: none; 
  z-index: 1;
}


.footer-content{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    z-index: 2;
    max-width: 1100px;
    height: 240px;
    margin: 0 auto;
    text-align: center;
    color: #4b4b4b;
    font-family: Gilroy, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 15px;
}
#rights, #links {
    width: 100%;
}

.footer-content p{
  margin: 0;
  padding: 12px 10px 0;
  opacity: 0.9;
}
#footerlinks{
padding-top: 60px;
}

@keyframes floatX {
  0%   { transform: translateX(0px); }
  50%  { transform: translateX(6px); }
  100% { transform: translateX(0px); }
}

footer {
  position: relative;
  background-color: #f8f8ff;
  text-align: center;
}


@media (max-width: 800px) {
  .footer-wave { padding-top: 60px; }
  .footer-content p { font-size: 14px; }
  #footerlinks { padding-top: 60px; }
}

.row {
  column-count: 4;     /* 4 колонки */
  column-gap: 10px;    /* расстояние между колонками */
  width: 90%;
  margin: 0 5%;
}

.column img {
  width: 100%;
  margin-bottom: 10px;
  display: inline-block;
  break-inside: avoid; /* главная магия! чтобы картинки не ломались */
}